*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main-class{

    margin-left: 39rem;
    padding-top: 15rem;

}
section{
	margin-top: 25px !important;
}
.navbar-nav .nav-link:hover, 
.navbar-nav .dropdown-item:hover {
    color: #28a745!important;
}

.active{
	color: #28a745!important;
}
.nav-button{
	float: right;
}
img.main-logo{
	height: 30px;
	width: auto;
}

.navigation-bar{
	width: 100%;
}
.carousel-item{
	height: 70vh;
	min-height: 300px;
	background: no-repeat;
	background-size: cover;
}	

.carousel-item::before{
content: "";
display: block;
background: rgba(0, 0, 0, 0.5);
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
}
.carousel-caption{
	margin: 30px;
	margin-bottom: 100px;

}
.carousel-caption h3{
	font-size: 80px;
	font-weight: bold;	
}
.logo-title{
	font-family: pacifico;
	color: #ff5409;
}
/*Services Section*/
.section-heading{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: 700;
}
.card-title{
	font-weight: bold;
}
.card-text{
	padding: 0 15px;
}
.card-button{
	position: relative;
}

.card-button::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0%;
	background-color: black;
	transition: all ease 1s;
}
.card-button:hover::after{
	width: 100%;
}

.card-button:hover{
	text-decoration: none;
	background: yellow;
	color: black;
	transition: all ease 2s;
}

.card-button{
	        width: 40%;
    margin: 0 auto;
    display: block;
    margin-bottom: 7%;
    padding: 10px;
    border-radius: 8px;
        text-align: center;
}
/* We are nichetech section Start here  */

.award-img{
	display: inline-block;
	width: 175px;
 }
 .button .about-us-button{
	border: 2px solid #28a745;
	color: #28a745;
    padding: 15px 28px;
    border-radius: 25px;
    margin-top: 25px;
	font-weight: 600;
 }
 .button .about-us-button:hover{
	color: #ffffff;
	background-color: #28a745;
 }
 .fa-play{
	background-color: #28a745;
	color: #ffffff;
	padding: 15px;
	border-radius: 100%;
	font-size: 20px;
 }
 statestics-section{
	margin-top: auto;
 }
.statestics{
	height: 300px;
	box-shadow: 0 0 15px 0 rgb(60 58 57 / 10%);
    border-bottom: 10px solid #bbf8c9;
	padding: 20px;
 }
 .statestics h2{
	font-size: 40px;
	font-weight: bold;
 }
 .statestics p{
	font-size: 18px;
	margin-top: 10px;
 }

.main-button{
	display: flex;
}
.button-2{
    margin: 45px 40px;
}	
/* We are nichetech section Start here end here */

/* Client tretimonial section start here */
.testimonial-img .img{
	width: 100%;
}
.testimonial-title .rating{
	color: #e77e40;
}

@media only screen and (max-width: 720px) {

	.carousel-caption{
		width: 100%;
        z-index: 1;
        padding-right: 37%;
        margin: 0;
        margin-bottom: 0;
        text-align: unset;
	}

	.carousel-img{
		height: 100%;
        object-fit: cover;
	}

	.card{
		margin-bottom: 80px;
	}
}